<div class="container">
    <div id="welcome" class="flex-center flex-column">
        <h2>Thank you for SignUp <span class="name">{{{data.name}}}</span></span>.<br>You have entered following details:</h2>
        <ul>
            <h3>Name: {{{data.name}}}</h3>
            <h3>Email: {{{data.email}}}</h3> 
            <h3>Mobile: {{{data.mobile}}}</h3>
            <h3>Password: {{data.password}}</h3>
        </ul>
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>
</div>
